<h1>Add New User</h1>
<!-- #form="ngForm" -->
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" #form="ngForm">  
    <div class="container">
        
    <spinx-radio 
            label="Gender"
            id="gender"
            [genders_custom]="genders" 
            formControlName="gender" 
            [required]="true"  
            [submit_validaiton_flag]="submit_validaiton_flag" 
            ngModel>
    </spinx-radio>

    <app-custom-textbox
        name="Name"
        id="Name"
        type="text"
		label="User Name"
		placeholder="Please enter your user name"
        minlength="10"
        maxlength="15"
        [required]="true"
        formControlName="Name"
        [submit_validaiton_flag]="submit_validaiton_flag"  
	    ngModel>
    </app-custom-textbox>

      

  <app-custom-textbox
        name="email"
        id="email"
        type="text"
		label="Email"
		placeholder="Please enter your Email Address"
        [required]="true"
        formControlName="email"    
        [submit_validaiton_flag]="submit_validaiton_flag"      
	    ngModel>
    </app-custom-textbox>
    
     <!-- pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"   -->

     <app-custom-textbox
        name="password"
        id="password"
        type="password"
		label="Password"
		placeholder="Please enter password"
		minlength="6"
        [required]="true"
        formControlName="password"
        [submit_validaiton_flag]="submit_validaiton_flag"  
	    ngModel>
    </app-custom-textbox> 


    <app-custom-textbox
        name="cnfpassword"
        id="cnfpassword"
        type="password"
		label="Confirm Password"
		placeholder="Please enter confirm password"		
        [required]="true"
        formControlName="cnfpassword"     
        [submit_validaiton_flag]="submit_validaiton_flag"             
	    ngModel>
    </app-custom-textbox>   
    
    
     <app-custom-textbox
        name="mobile"
        id="mobile"
        type="text"
		label="Mobile"
		placeholder="Please enter Mobile Number"		
        [required]="true"
        formControlName="mobile"
        [submit_validaiton_flag]="submit_validaiton_flag"  
	    ngModel>
    </app-custom-textbox>

    <!-- pattern="^[0-9]*$" -->

    <app-custom-textbox
        name="company"
        id="company"
        type="text"
		label="Company Name"
		placeholder="Please enter company name"		
        [required]="true"
        formControlName="company"
        [submit_validaiton_flag]="submit_validaiton_flag"
	    ngModel>
    </app-custom-textbox> 

       
        
   <!-- <spinx-textbox id="Name" [(model)]="Name" name="Name" 
    label="Name" maxlength="10" manish_address="registerForm.controls.Name" placeholder="Please Enter Name" (modelChange)="get_data($event)"></spinx-textbox> -->

    <!-- <div class="alert alert-danger" *ngIf="isSubmitted_message && registerForm.controls.Name.errors">
        <div *ngIf="registerForm.hasError('required','Name')">Please enter email.</div>
    </div>  -->

    <!-- <spinx-textbox id="emailAddress" [(model)]="emailAddress" label="Email address" placeholder="We'll never share your email with anyone else."></spinx-textbox> -->

    <!-- <spinx-textarea [(inputModel)]="data1" [maxLength]="0"></spinx-textarea>    
    <spinx-textarea [(inputModel)]="data2" [maxLength]="15" [isNumeric]="true" ></spinx-textarea>
 
    manish_address="registerForm" 
-->

    </div>
    

    <button class="btn btn-primary" >Add User</button>
</form>


<!-- [disabled]="registerForm.invalid" -->