<h1>Add New User</h1>
<!-- #form="ngForm" -->
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" #form="ngForm">  
    <div class="container">


     <spinx-checkbox
           label="Education List"
           [record_list]="education_list"
           [selected_record_list]="eduFormArray"
           formArrayName="edu_data"
           (change)="get_checkbox_value($event)"
           [submit_validaiton_flag]="submit_validaiton_flag"
           name="education_name"
    ></spinx-checkbox>
    
     <!-- <div *ngFor="let item of education_list;let i=index">
        <input type="checkbox" (change)="get_checkbox_value($event)" formArrayName="edu_data" id={{item.id}} name="education"> {{item.name}}<br>
     </div> -->



     <br/>
     <br/>

    <spinx-dropdown
       id="country"
       label="Country"
       name="country"
       [record_list]="country_list"
       formControlName="country"
       [required]="true"  
       [submit_validaiton_flag]="submit_validaiton_flag"
       (change)="onChange_team_selection($event.target.value)"
    ></spinx-dropdown>

    <!-- <spinx-dropdown
       id="team"
       label="Team Location"
       name="team"
       [record_list]="team_list"
       formControlName="team"
       [required]="true"  
       [multiple]="true"
       [submit_validaiton_flag]="submit_validaiton_flag"
       (change)="onChange_team_selection($event)"
    ></spinx-dropdown> -->

    <!-- <div class="form-group row">
        <label class="col-md-2 col-form-label">chk</label>
          <div class="col-md-4">
            <select class="form-control" id="team" name="team" multiple (change)="onChange_team_selection($event)">
                <option value="undefined" selected>Select Puzzle Category</option>  
                 <option *ngFor="let aa of team_list" value="{{aa.id}}">{{aa.name}}</option>
            </select>
          </div> 
      </div> -->

    

    <spinx-textarea
          rows="5"
          placeholder="Enter Your Address .."
          formControlName="address" 
          id="address"
          label="Address"
    ></spinx-textarea>
        
    <spinx-radio 
            label="Gender"
            id="gender"
            [genders_custom]="genders" 
            formControlName="gender" 
            [required]="true"  
            name="gender"
            [submit_validaiton_flag]="submit_validaiton_flag" 
            ngModel>
    </spinx-radio>

    <app-custom-textbox
        name="Name"
        id="Name"
        type="text"
		label="User Name"
		placeholder="Please enter your user name"
        minlength="10"
        maxlength="15"
        [required]="true"
        formControlName="Name"
        [submit_validaiton_flag]="submit_validaiton_flag"  
	    ngModel>
    </app-custom-textbox>

      

  <app-custom-textbox
        name="email"
        id="email"
        type="text"
		label="Email"
		placeholder="Please enter your Email Address"
        [required]="true"
        formControlName="email"    
        [submit_validaiton_flag]="submit_validaiton_flag"      
	    ngModel>
    </app-custom-textbox>
    
     <!-- pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"   -->

     <app-custom-textbox
        name="password"
        id="password"
        type="password"
		label="Password"
		placeholder="Please enter password"
		minlength="6"
        [required]="true"
        formControlName="password"
        [submit_validaiton_flag]="submit_validaiton_flag"  
	    ngModel>
    </app-custom-textbox> 


    <app-custom-textbox
        name="cnfpassword"
        id="cnfpassword"
        type="password"
		label="Confirm Password"
		placeholder="Please enter confirm password"		
        [required]="true"
        formControlName="cnfpassword"     
        [submit_validaiton_flag]="submit_validaiton_flag"             
	    ngModel>
    </app-custom-textbox>   
    
    
     <app-custom-textbox
        name="mobile"
        id="mobile"
        type="text"
		label="Mobile"
		placeholder="Please enter Mobile Number"		
        [required]="true"
        formControlName="mobile"
        [submit_validaiton_flag]="submit_validaiton_flag"  
	    ngModel>
    </app-custom-textbox>

    <!-- pattern="^[0-9]*$" -->

    <app-custom-textbox
        name="company"
        id="company"
        type="text"
		label="Company Name"
		placeholder="Please enter company name"		
        [required]="true"
        formControlName="company"
        [submit_validaiton_flag]="submit_validaiton_flag"
	    ngModel>
    </app-custom-textbox> 

       
        
   <!-- <spinx-textbox id="Name" [(model)]="Name" name="Name" 
    label="Name" maxlength="10" manish_address="registerForm.controls.Name" placeholder="Please Enter Name" (modelChange)="get_data($event)"></spinx-textbox> -->

    <!-- <div class="alert alert-danger" *ngIf="isSubmitted_message && registerForm.controls.Name.errors">
        <div *ngIf="registerForm.hasError('required','Name')">Please enter email.</div>
    </div>  -->

    <!-- <spinx-textbox id="emailAddress" [(model)]="emailAddress" label="Email address" placeholder="We'll never share your email with anyone else."></spinx-textbox> -->

    <!-- <spinx-textarea [(inputModel)]="data1" [maxLength]="0"></spinx-textarea>    
    <spinx-textarea [(inputModel)]="data2" [maxLength]="15" [isNumeric]="true" ></spinx-textarea>
 
    manish_address="registerForm" 
-->

      
    <!-- [disabled]="true" -->

    <!-- disabled="false" -->


    <spinx-button label="Add User" class_custom="btn btn-primary" id="submit_button" (onClick)="onSubmit()" ></spinx-button>     
      &nbsp;&nbsp;&nbsp;     
    <spinx-button label="Cancel" class_custom="btn btn-secondary" id="cancel_button" (onClick)="onCancel()" ></spinx-button>

    </div>
    

         <!-- <button class="btn btn-primary"  >Add User</button> -->

   

</form>

<br/>
<br/>
<br/>
<br/>
<!-- [disabled]="registerForm.invalid" -->