<h1>Add New User</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="container">

      <app-custom-textbox
        name="Name"
        id="Name"
		label="User Name"
		placeholder="Please enter your user name"
		minlength="15"
        [required]="true"
        formControlName="Name"
	    ngModel>
	</app-custom-textbox>
        
   <!-- <spinx-textbox id="Name" [(model)]="Name" name="Name" 
    label="Name" maxlength="10" manish_address="registerForm.controls.Name" placeholder="Please Enter Name" (modelChange)="get_data($event)"></spinx-textbox> -->

    <!-- <div class="alert alert-danger" *ngIf="isSubmitted && registerForm.controls.Name.errors">
        <div *ngIf="registerForm.hasError('required','Name')">Please enter email.</div>
    </div>  -->

    <!-- <spinx-textbox id="emailAddress" [(model)]="emailAddress" label="Email address" placeholder="We'll never share your email with anyone else."></spinx-textbox> -->

    <!-- <spinx-textarea [(inputModel)]="data1" [maxLength]="0"></spinx-textarea>    
    <spinx-textarea [(inputModel)]="data2" [maxLength]="15" [isNumeric]="true" ></spinx-textarea>
 
    manish_address="registerForm" 
-->

    </div>
    

    <button class="btn btn-primary">Add User</button>
</form>
