<!-- <div class="form-group row">
    <label class="col-md-3 col-form-label" for="textarea-input">Textarea</label>
    <div class="col-md-9">
      <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.."></textarea>
    </div>
  </div>

[type]="type" 
[pattern]="pattern"
[disabled]="disabled"
[minlength]="minlength"
[maxlength]="maxlength"
(submit_validaiton_flag)="submit_validaiton_flag"
[required]="required"	
[ngModelOptions]="{standalone: true}"			
 -->

  <div class="form-group">
	<div class="input-wrapper">
    <label [for]="id">{{label}}</label>
	<textarea 				
		class="form-control"
        [id]="id"	
        [name]="name"
        [rows]="rows"			
		[placeholder]="placeholder"
		[(ngModel)]="data"		
		(input)="onChange()"
		(change)="onChange()"
		(blur)="onTouchedFn()"></textarea>

      <!-- <small class="text-danger" *ngIf="(showError || submit_validaiton_flag)">
        {{errors[0]}}
	  </small> -->
	  </div>
  </div>