<div class="form-group">
    <div class="input-wrapper" [class.required]="required">
        <label [for]="id">{{label}}</label>
        <select 
                [id]="id" 
                [name]="name" 
                class="form-control"
                [(ngModel)]='data' 
                [required]="required"
                [ngModelOptions]="{standalone: true}" 
                (input)="onChange()"
                (change)="onChange()"
                (blur)="onTouchedFn()"
                (submit_validaiton_flag)="submit_validaiton_flag"
                multiple
        >
            <option value="">Please select</option>
            <option *ngFor="let item of record_list;let i=index" [value]="item.id">{{item.name}}</option>
        </select>
        <small class="text-danger" *ngIf="(showError || submit_validaiton_flag)">
            {{errors[0]}}
        </small>
      </div>      
  </div>

